.small-mv-container {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: min-content;
}

.small-mv-img-main {
    grid-area: img;
    width: 8rem;
    grid-column: 1/1;
    grid-row: 1/1;
}

.small-mv-title-main {
    font-size: var(--smaller-font-size);
    grid-row: 2/2;
    grid-column: 1/1;
}


.small-mv-delete {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    grid-area: x;
    display: inline;
    color: var(--colour-secondary);
    cursor: pointer;
    grid-row: 1/1;
    grid-column: 1/1;
    justify-self: end;
    padding: .2rem .5rem;
    align-self: start;
    border-radius: 50%;
}

