.likes-seen-disliked-movies-container {
    display: grid;
    grid-template-areas: 
    "liked-movies-container disliked-movies-container seen-movies-container";
    grid-template-rows: 1fr;
    column-gap: 2rem;
}

.liked-movies-container {
    grid-area: liked-movies-container;
    display: flex;
    flex-direction: column;
}

.disliked-movies-container {
    grid-area: disliked-movies-container;
    display: flex;
    flex-direction: column;
}

.seen-movies-container {
    grid-area: seen-movies-container;
    display: flex;
    flex-direction: column;
}

.movie-link {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

